<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengramver1.feed.FeedMapper">
    <insert id="insFeed" useGeneratedKeys="true" keyProperty="feedId">
       insert into feed
        SET writer_user_id = #{writerUserId},
            contents = #{contents},
            location = #{location}
    </insert>
    <insert id="insFeedPic">
        insert into feed_pics
        set feed_id = #{feedId}
        , pic = #{pic}
    </insert>
</mapper>