<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengramver1.feed.FeedMapper">
    <insert id="insFeed" useGeneratedKeys="true" keyProperty="feedId">
       insert into feed
        SET writer_user_id = #{writerUserId},
            contents = #{contents},
            location = #{location}
    </insert>
    <insert id="insFeedPic">
        insert into feed_pics
        set feed_id = #{feedId}
        , pic = #{pic}
    </insert>
    <select id="selFeedList">
        SELECT feed_id as feedId,contents,location,feed.created_at as createdAt
        ,if(user.nick_name IS NULL , uid,nick_name) AS writerName
        ,user.pic AS writerPic
        FROM feed
        INNER JOIN user
        ON feed.writer_user_id=user.user_id
        Order by feed_id desc

        LIMIT #{sIdx},#{size};

    </select>
    <select id="selFeedPics">
        SELECT pic
        FROM feed_pics
        WHERE feed_id = #{feedId};
    </select>
</mapper>